#!/usr/bin/env bash

if [ ! "$(command -v nix)" ]; then
    printf "Nix: NOT FOUND\n"
    printf "Skipping\n"
else
    if [ ! "$(command -v home-manager)" ]; then
        printf "Home Manager: NOT FOUND\n"
        printf "Home Manager: Installing\n"
        nix run --experimental-features nix-command flakes 'nixpkgs#home-manager' switch
    else
        printf "Home Manager: FOUND\n"
        home-manager switch
    fi
fi
