#!/usr/bin/fish

echo -e "\033[0;32m>>>>> Begin Setting Up Fish Completions <<<<<\033[0m"

if not test -d $__fish_config_dir/completions
    mkdir -p $__fish_config_dir/completions
end

if type -q chezmoi
    echo "setting up chezmoi completion"
    chezmoi completion fish --output=$__fish_config_dir/completions/chezmoi.fish
end

if type -q zellij
    echo "setting up zellij completion"
    zellij setup --generate-completion fish > $__fish_config_dir/completions/zellij.fish
end

if type -q task
    echo "setting up task completion"
    curl --silent --show-error https://raw.githubusercontent.com/go-task/task/master/completion/fish/task.fish > $__fish_config_dir/completions/task.fish
end

if type -q just
    echo "setting up just completions"
    just --completions fish > $__fish_config_dir/completions/just.fish
end

echo -e "\033[0;32m>>>>> Finish Setting Fish Completions <<<<<\033[0m"
