{{ if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash

set -eufo pipefail

if [ $(command -v aqua) ]; then
    printf "updating aqua\n"
    aqua update-aqua v1.33.0
else
    printf "installing aqua\n"
    curl -sSfL https://raw.githubusercontent.com/aquaproj/aqua-installer/v2.0.2/aqua-installer | bash -s -- -v v2.2.2
fi

# .config/aqua.yaml hash: {{ include "dot_config/aqua.yaml.tmpl" | sha256sum }}
aqua install -a

{{ end -}}
