{{ if (and (eq .chezmoi.os "linux") (not .headless) (ne .chezmoi.username "root")) -}}
#!/usr/bin/env bash

set -eufo pipefail

NERDFONTS=(Hack UbuntuMono)

FONT_DIR={{ .chezmoi.homeDir }}/.local/share/fonts

# renovate: depName=ryanoasis/nerd-fonts
current_nerdfonts_version=v2.3.3

update_counter=0

echo -e "\033[0;32m>>>>> Fonts Configured <<<<<\033[0m"

for font in ${NERDFONTS[@]}; do
    if $(fc-list | grep -i "$font Nerd Font" &>/dev/null); then
        printf "%s is already installed\n" "$font"
    else
        printf "installing %s\n" "$font"
        mkdir -p $FONT_DIR/$font
        curl -fLo $FONT_DIR/$font.zip https://github.com/ryanoasis/nerd-fonts/releases/download/$current_nerdfonts_version/$font.zip && unzip -o "$FONT_DIR/$font.zip" -d "$FONT_DIR/$font" && rm $FONT_DIR/$font.zip
        update_counter=$((update_counter + 1))
    fi
done

if [ $update_counter -gt 0 ]; then
    printf "refreshing font cache\n"
    fc-cache -vf "$FONT_DIR"
fi

echo -e "\033[0;32m>>>>> Fonts Configured <<<<<\033[0m"

{{ end -}}
