# Don't pollute home
justfile
install.sh
README.md
flake.nix
flake.lock
nixos/
ansible/
tofu/
secrets/
.cz.toml

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
Documents
AppData
.wslconfig
{{ else }}
.shellcheckrc
.config/gh
.config/home-manager
.config/nix
.config/fish
.config/tmux
.config/nvim
.config/zellij
{{ end }}

{{ if eq .chezmoi.hostname "pwnyboy" }}
# Don't install tons of dev plugins on the server
.config/nvim/lua/mm/lazy/lsp.lua
.config/nvim/lua/mm/lazy/snippets.lua
.config/nvim/lua/mm/lazy/neotest.lua
.config/nvim/lua/mm/lazy/neogen.lua
.config/nvim/lua/mm/lazy/neogit.lua
{{ end }}

{{ if or .headless ( eq .chezmoi.os "windows" ) }}
.config/hypr
.config/foot
    {{ if ne .chezmoi.os "windows" }}
# Non-windows gui stuff
    {{ end }}
{{ end }}
