install.sh
README.md
flake.nix
flake.lock
.cz.toml

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
dot_shellcheckrc
Documents
{{ else }}
dot_config/home-manager
{{ end }}
