{{- $headless := false -}}
{{- $isWSL := false -}}
{{- $hostname := .chezmoi.hostname -}}

{{- if ne .chezmoi.os "windows" -}}
    {{- if eq $hostname "pwnyboy" -}}
        {{-   $headless = true -}}
    {{- end -}}

    {{- if (.chezmoi.kernel.osrelease | lower | contains "wsl") }}
        {{-   $isWSL = true -}}
    {{- end -}}
{{- end -}}

[data]
headless = {{ $headless }}
isWSL = {{ $isWSL }}

[git]
autoAdd = true

[edit]
command = "nvim"

{{- if eq .chezmoi.os "windows" }}
    {{- if lookPath "pwsh.exe" }}
[cd]
command = "pwsh.exe"
    {{ end }}
{{ end -}}
