let data_dir = has('nvim') ? stdpath('data') . '/site' : '~/.vim'
if empty(glob(data_dir . '/autoload/plug.vim'))
    silent execute '!curl -fLo '.data_dir.'/autoload/plug.vim --create-dirs https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'
    autocmd VimEnter * PlugInstall --sync | source $MYVIMRC
endif

call plug#begin('~/.vim/plugged')
Plug 'editorconfig/editorconfig-vim'
Plug 'bling/vim-airline'
Plug 'kien/ctrlp.vim'
Plug 'vimwiki/vimwiki'
Plug 'fatih/vim-go'
Plug 'nickeb96/fish.vim'
Plug 'ghifarit53/tokyonight-vim'
Plug 'alker0/chezmoi.vim'
Plug 'pearofducks/ansible-vim'
Plug 'NoahTheDuke/vim-just'
Plug 'LnL7/vim-nix'
call plug#end()

set number
set showcmd
set nocursorline
set wildmenu
set lazyredraw
set showmatch
set fillchars+=vert:┃

set smartcase
set incsearch
set hlsearch

set tabstop=4
set expandtab
set softtabstop=4
set shiftwidth=4
set modelines=1
filetype indent on
filetype plugin on
set autoindent

set foldmethod=indent
set foldnestmax=10
set foldenable
nnoremap <space> za
set foldlevelstart=10

let mapleader=","
nnoremap <leader><space> :nohlsearch<CR>
nnoremap <leader>l :call <SID>ToggleNumber()<CR>
nnoremap <leader>ev :vsp $MYVIMRC<CR>
nnoremap <leader>sv :source $MYVIMRC<CR>

inoremap jj <esc>
cnoremap w!! execute 'silent! write !sudo tee % >/dev/null' <bar> edit!

let g:ctrlp_match_window = 'bottom,order:ttb'
let g:ctrlp_switch_buffer = 0
let g:ctrlp_working_path_mode = 0
let g:ctrlp_custom_ignore = '\vbuild/|dist/|venv/|target/|\.(o|swp|pyc|egg)$'
let g:ctrlp_user_command = 'ag %s -l --nocolor --hidden -g ""'

let g:tokyonight_style = 'storm'
let g:tokyonight_enable_italic = 1

set termguicolors
colorscheme tokyonight

" Autogroups
augroup configgroup
    autocmd!
    autocmd FileType yaml setlocal tabstop=2
    autocmd FileType yaml setlocal shiftwidth=2
    autocmd FileType yaml setlocal softtabstop=2
augroup END

function! <SID>ToggleNumber()
    if(&relativenumber == 1)
        set norelativenumber
        set number
    else
        set relativenumber
    endif
endfunc
