@default:
    just --list

update:
    chezmoi update

{{- if ne .chezmoi.os "windows" }}

    nix flake update --flake {{ .chezmoi.homeDir }}/.config/home-manager
    home-manager switch

clean:
    home-manager expire-generations "-7 days"
{{ end }}

{{- if eq .chezmoi.hostname "pwnyboy" }}
compose-update:
    #!/usr/bin/env bash
    for config in `docker compose ls | awk 'NR>1 {print $3}'`; do
        printf "=====[ %s ]======\n" $( basename $(dirname $config) | sed 's/.*/\u&/' )
        docker compose -f $config build
        docker compose -f $config pull
        docker compose -f $config up -d
    done

compose-clean:
    docker image prune -f
{{- else }}

pwnyup:
    tailscale ping -c 0 pwnyboy
{{- end }}
