@default:
    just --list

nix-install *ARGS:
    #!/usr/bin/env bash
    sh <(curl -L https://nixos.org/nix/install/) {{ "{{ ARGS }}" }}

home-manager-init:
    nix run 'nixpkgs#home-manager' -- switch

chezmoi-init:
    nix run 'nixcommand flakes' 'nixpkgs#chezmoi' -- switch
