if not set -q MY_ABBR_SET
    set -l MY_ABBR_SET true

    if type -q apt
    {{- if ne .chezmoi.username "root" }}
        if type -q nala
            abbr apti 'sudo nala install'
            abbr aptr 'sudo nala remove'
            abbr aptu 'sudo nala update'
            abbr aptug 'sudo sh -c "nala update && nala upgrade"'
        else
            abbr apti 'sudo apt install'
            abbr aptr 'sudo apt remove'
            abbr aptu 'sudo apt update'
            abbr aptug 'sudo sh -c "apt update && apt upgrade"'
        end
    {{- else }}
        if type -q nala
            abbr apti 'nala install'
            abbr aptr 'nala remove'
            abbr aptu 'nala update'
            abbr aptug 'nala update && nala upgrade'
        else
            abbrapti 'apt install'
            abbraptr 'apt remove'
            abbraptu 'apt update'
            abbraptug 'apt update && apt upgrade'
    {{- end }}
    end

    if type -q vim.nox
    {{- if ne .chezmoi.username "root" }}
        abbr jvi 'vim.nox'
        abbr vim 'vim.nox'
    {{- else }}
        abbr vi 'vi'
        abbr vim 'vi'
    {{- end }}
    end

    if type -q git
        abbr g 'git'
        abbr ga 'git add'
        abbr gaa 'git add --all'
        abbr gc 'git commit'
        abbr gcm 'git commit -m'
        abbr gs 'git status'
        abbr gp 'git push'
        abbr gpl 'git pull'
        abbr gl 'git log'
        abbr gd 'git diff'
        abbr gds 'git diff --staged'
        abbr gr 'git restore .'
        abbr grs 'git restore --staged .'
    end

    if type -q chezmoi
        abbr c 'chezmoi'
        abbr ca 'chezmoi apply'
        abbr cu 'chezmoi update'
        abbr ce 'chezmoi edit'
        abbr cs 'chezmoi status'
        abbr cc 'chezmoi cd'
        abbr cg 'chezmoi git'
        abbr cga 'chezmoi git -- add'
        abbr cgaa 'chezmoi git -- add -A'
        abbr cgs 'chezmoi git -- status'
        abbr cgc 'chezmoi git -- commit'
        abbr cgcm 'chezmoi git -- commit -m "(chezmoi generate git-commit-message)"'
        abbr cgp 'chezmoi git -- push'
        abbr cgd 'chezmoi git -- diff'
        abbr cgds 'chezmoi git -- diff --staged'
        abbr cgr 'chezmoi git -- restore .'
        abbr cgrs 'chezmoi git -- restore --staged .'
    end

    if type -q thefuck
        abbr fu 'fuck'
    end

    if type -q eza
        abbr lsa 'eza -lag --icons --sort=type'
        abbr l 'eza -lag --icons --sort=type'
        abbr ll 'eza -l --icons --sort=type'
        abbr la 'eza -lag --icons --sort=type'
    else if type -q exa
        abbr lsa 'exa -lag --icons --sort=type'
        abbr l 'exa -lag --icons --sort=type'
        abbr ll 'exa -l --icons --sort=type'
        abbr la 'exa -lag --icons --sort=type'
    else
        abbr lsa 'ls -lah'
        abbr l 'ls -lah'
        abbr ll 'ls -lh'
        abbr la 'ls -1Ah'
    end

    if type -q tailscale
        abbr ts 'tailscale'
        abbr tss 'tailscale status'
        abbr tsp 'tailscale ping'
        abbr tsn 'tailscale netcheck'
    end

    if type -q virsh
        abbr vm 'virsh -c qemu:///system'
        abbr vme 'virsh -c qemu:///system edit'
    end

    if type -q docker
        abbr dp 'docker ps --format {{ "\"table {{.Names}}\\t{{.Networks}}\\t{{.Status}}\\t{{.Ports}}\"" }}'
        abbr dc 'docker compose'
        abbr dls 'docker compose ls'
        abbr dcu 'docker compose up -d'
        abbr dcd 'docker compose down'
        abbr dcr 'docker compose restart'
        abbr dce 'docker compose exec'
        abbr dcl 'docker compose logs'
        abbr dcp 'docker compose pull'
        abbr dcb 'docker compose build'
    end

    abbr cpr 'cp -rf'
    abbr rmr 'rm -rf'
    abbr md 'mkdir -p'
    abbr rd 'rmdir'

    abbr -a L --position anywhere --set-cursor "% | less"
    abbr -a !! --position anywhere --function last_history_item
end
