# fish_add_path {{ .chezmoi.homeDir }}/.local/share/aquaproj-aqua/bin

for i in .local/bin .bin bin .emacs.d/bin go/bin
    if test -d {{ .chezmoi.homeDir }}/$i
        fish_add_path {{ .chezmoi.homeDir }}/$i
    end
end
