if status is-interactive; and type -q zellij

    {{- if .isWSL }}
    #if not set -q ZELLIJ; and test -d /mnt/wslg/runtime-dir/zellij/
    #        rm -rf /mnt/wslg/runtime-dir/zellij/
    #end
    {{- end }}

    set ZELLIJ_AUTO_ATTACH true 
    set ZELLIJ_AUTO_EXIT true

    if string match -q "vscode" $TERM_PROGRAM
        set ZELLIJ_AUTO_ATTACH false
        set ZELLIJ_AUTO_EXIT false 
    end

    eval (zellij setup --generate-auto-start fish | string collect)
end
