default_mode "normal"

plugins {
    tab-bar {path "tab-bar"; }
    status-bar {path "status-bar"; }
    compact-bar {path "compact-bar"; }
}

ui {
    pane_frames {
        rounded_corners true
    }
}

theme "dracula"
