[color]
	ui = "auto"

[color "branch"]
	current = "yellow reverse"
	local = "yellow"
	remote = "green"

[color "diff"]
	frag = "magenta bold"
	meta = "yellow bold"
	new = "green"
	old = "red"

[color "status"]
	added = "yellow"
	changed = "green"
	untracked = "cyan"

[core]
	editor = "nvim"

[init]
	defaultBranch = "main"

[user]
	email = "dan.eberle@protonmail.com"
	name = "Daniel Eberle"

[credential "https://gist.github.com"]
    {{- if ne .chezmoi.os "windows" }}
	helper = "/home/mm/.nix-profile/bin/gh auth git-credential"
    {{- else }}
	helper = "C:\Program Files\GitHub CLI\gh.exe auth git-credential"
    {{ end }}

[credential "https://github.com"]
    {{- if ne .chezmoi.os "windows" }}
	helper = "/home/mm/.nix-profile/bin/gh auth git-credential"
    {{- else }}
	helper = "C:\Program Files\GitHub CLI\gh.exe auth git-credential"
    {{ end }}

