set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'dracula/tmux'

bind-key C-b send-prefix
bind | split-window -h
bind - split-window -v

bind -n M-h select-pane -L
bind -n M-l select-pane -R
bind -n M-k select-pane -U
bind -n M-j select-pane -D

bind r source-file {{ .chezmoi.homeDir }}/.config/tmux/tmux.conf

set -g mouse on
set-option -g allow-rename off
set -g aggressive-resize on
set -s escape-time 0
set -g history-limit 50000
set -g display-time 4000
set -g status-interval 5

set -g visual-activity off
set -g visual-bell off
set -g visual-silence off
setw -g monitor-activity off
set -g bell-action none

set -g default-terminal "screen-256color"

set -g status-left-length 80
set -g status-right-length 150

set -g mode-style "fg=#a9b1d6 bg=#2a2f41"

set -g message-style "bg=#7aa2f7 fg=#2a2f41"
set -g message-command-style "fg=#c0caf5 bg=#2a2f41"

set -g pane-border-style "fg=#2a2f41"
set -g pane-active-border-style "fg=#7aa2f7"

set -g status-style "bg=#1a1b26"

set -g status-left "#[fg=#1f2335,bg=#6441a5,bold] #{?client_prefix,󰠠 ,#[dim]󰤂 }#[fg=#ffffff,bg=#6441a5,bold,nodim]#S #[fg=brighwhite,bg=#15161e,nobold,noitalics,nounderscore,nodim]"


set -g window-status-current-format "#[fg=#44dfaf,bg=#1f2335]    #[fg=#a9b1d6]#I #[bold,nodim]#W#[nobold,dim] #{?window_last_flag,,} "
set -g window-status-format "#[fg=#c0caf5,bg=default,none,dim]    #I #W#[nobold,dim] #[fg=yellow,blink] #{?window_last_flag,󰁯 ,} "

set -g status-right "#[fg=#a9b1d6,bg=#24283b]  %Y-%m-%d #[]%H:%M"
set -g window-status-separator ""
run {{ .chezmoi.homeDir }}/.config/tmux/plugins/tpm/tpm
