#!/usr/bin/env fish

printf "====[ Fish Completions\n"

if not test -d "$__fish_config_dir/completions"
    mkdir -p "$__fish_config_dir/completions"
end

if type -q chezmoi
    chezmoi completion fish --output="$__fish_config_dir/completions/chezmoi.fish"
end

if type -q zellij
    zellij setup --generate-completion fish > "$__fish_config_dir/completions/chezmoi.fish"
end

if type -q wezterm
    wezterm shell-completion --shell fish > "$__fish_config_dir/completions/wezterm.fish"
end

printf "====[ Fish Complete\n"
