#!/usr/bin/env bash

run_update() {
    if [ "$(command -v nh)" ]; then
        nh home switch
    else
        home-manager switch
    fi
}

if [ "$(command -v nix)" ]; then
    printf "====[ Nix: Installed\n"

    if [ ! "$(command -v home-manager)" ]; then
        printf ">>>>[ Home Manager: Setup\n"
        nix run --extra-experimental-features flakes 'nixpkgs#home-manager' switch
    else
        # .config/home-manager/flake.lock hash: {{ include "dot_config/home-manager/flake.lock" | sha256sum }}
        run_update
    fi
fi
