{{- if .isWSL }}
# WSL sets mtu too low for tailscale, set to 1500
sudo ip link set dev eth0 mtu 1500
{{- end }}
for file in $__fish_config_dir/custom.d/*.fish
    source $file
end

if type -q starship
    starship init fish | source
end

if type -q thefuck
    thefuck --alias | source
end

if type -q zoxide
    zoxide init fish | source
end

if type -q direnv
    direnv hook fish | source
end
