if not set -q TMUX

    if test "$TMUX_AUTO_ATTACH" = "true"
        tmux new -As {{ .chezmoi.hostname }}
    else
        tmux
    end

    if test "$TMUX_AUTO_EXIT" = "true"
        kill $fish_pid
    end

end
