#!/usr/bin/env bash

if [ $(command -v zellij) ]; then
    export ZELLIJ_AUTO_ATTACH=true
    export ZELLIJ_AUTO_EXIT=true

    if [ "$TERM_PROGRAM" != "vscode" ]; then
        eval "$(zellij setup --generate-auto-start bash)"
    fi
fi

if [ $(command -v starship) ]; then
    eval "$(starship init bash)"
fi

if [ $(command -v direnv) ]; then
    eval "$(direnv hook bash)"
fi
