#!/usr/bin/env bash

reload_functions() {
    unset -f reload_aliases reload_fuctions

    . {{ .chezmoi.homeDir }}/.config/bash/functions
}

reload_aliases() {
    unalias -a

    unset MY_ALIAS_SET

    . {{ .chezmoi.homeDir }}/.config/bash/aliases
}
