function reload-abbrs --description 'clears and reloads abbreviations'
    for abbr_name in (abbr -l)
        abbr -e $abbr_name
    end

    set -q MY_ABBRS_SET && set -e MY_ABBR_SET
    source $__fish_config_dir/custom.d/abbrs.fish
end
